use Mix.Config

config :saxophone, :slackbot_token, "YOUR TOKEN HERE"


# For fixed IP.
config :saxophone, :ethernet_opts, mode: "static", ip: "YOUR IP", router: "YOUR GATEWAY IP", mask: "16", subnet: "255.255.255.0", dns: "8.8.8.8 8.8.4.4"


# For DHCP
# config :saxophone, :ethernet_opts, []
